
<form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">

  <p>
    <label for="name">Name </label>
    <input type="text" id="name" name="name" formControlName="name">
  </p>
 
 
  Skills:
  <div formArrayName="skills">
    <div *ngFor="let skill of skills.controls; let i=index">
      <div [formGroupName]="i">
        {{i}}
        skill name :
        <input type="text" formControlName="name">
        assignedname:
        <input type="text" formControlName="assignedname">
        description:
        <input type="text" formControlName="description">
        summary:
        <input type="text" formControlName="summary">
        <button (click)="removeSkill(i)">Remove</button>
      </div>
    </div>
  </div>
  <div formGroupName="address">
    <h3>Address</h3>

    <label>
      Country:
      <input type="text" formControlName="country">
    </label> <br>

    <label>
      City:
      <input type="text" formControlName="city">
    </label>
  </div>
 
  <p>
    <button type="submit">Submit</button>
  </p>
 
</form>
 
 
<p>
  <button type="button" (click)="addSkills()">Add</button>
</p>
 
{{this.skillsForm.value | json}}
 


  <input type="text" id="name" [disabled]= "disname" name="name" 
  placeholder="fhehfeif">
 
<select name="condition1" class="form-control"  onchange="dissablefield(this)">
                          <option value="undefined" disabled hidden selected>Select Condition </option>
                          <option value="On" > On</option>
                          <option value="Off"> Off</option>
                        </select>





